<html>
    <head>
        <title>
           
        </title>
        {% block head %}{% endblock %}
        <link rel="stylesheet" href = "{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
       {% block body %}{% endblock %}
    </body>
</html>