{% extends 'base.html' %}

{% block head %}
<title>
    Flask Task
</title>   
{% endblock %}

{% block body %}
<h1>Event Sourcing</h1>
<table>
    <tr>
        <th>Type</th>
        <th>Value</th>
    </tr>
    {% for event in events %}
    <tr>
        <td>{{ event.type }}</td>
        <td>{{ event.value }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}