{% extends 'base.html' %}

{% block head %}
<title>
    Flask Task
</title>   
{% endblock %}

{% block body %}


<form action="/event" method="POST">
    <input type="text" name="type", id="type">
    <input type="number" name="value", id="value">
    <input type="submit" value="Add Event">
</form>
{% endblock %}